[Desktop Entry]
Version=1.0
Type=Application
Name=Run First DCS Install
Comment=
Exec=bash dcs-dedicated-server-automatic-installer.sh
Icon=emblem-downloads
Path=/app/dcs_server/wine-dedicated-dcs-automated-installer/
Terminal=true
StartupNotify=false